.userPane .logout {
  position: absolute;
  right: 20px; }

.taskPane .error {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  height: 10px;
  width: 215px;
  margin: auto;
  position: relative;
  top: 24px; }
  @media screen and (max-width: 800px) {
    .taskPane .error {
      top: 10px;
      padding: 10px; } }

.taskPane .addPane {
  width: 80%;
  margin: auto;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 16px; }
  .taskPane .addPane .addDate {
    padding-left: 20px;
    padding-right: 20px; }
  @media screen and (max-width: 800px) {
    .taskPane .addPane {
      flex-direction: column;
      align-items: center;
      padding: 0px;
      margin-bottom: 20px; }
      .taskPane .addPane div {
        padding: 5px;
        width: 50vw; } }

.taskPane .tasks {
  width: 90vw;
  min-height: 100vw;
  margin: auto;
  padding: 10px;
  background-color: #cdd6e8; }
  .taskPane .tasks .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 905px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    text-align: justify; }
    .taskPane .tasks .task .description {
      padding: 20px;
      order: 3;
      position: relative;
      bottom: 10px; }
    .taskPane .tasks .task .date {
      color: #3f51b5;
      font-weight: 900;
      order: 2;
      padding: 0;
      position: relative;
      bottom: 20px; }
    .taskPane .tasks .task .deleteTask {
      align-self: flex-start;
      margin: 10px;
      font-weight: 900;
      font-size: 15px;
      padding: 0px;
      order: 1;
      align-self: flex-end;
      margin-bottom: 0px; }
      .taskPane .tasks .task .deleteTask .MuiButton-label {
        width: 10px; }

body {
  margin: 0; }

.LoginPane .MuiPaper-rounded {
  width: 300px;
  height: 237px; }

.loginBackground {
  background-color: #3f51b5;
  height: 100vh;
  width: 100vw;
  padding-top: 100px; }

.LoginPane {
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center; }
  .LoginPane .homeButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px; }
  .LoginPane .error {
    position: relative;
    bottom: 10px;
    right: 4px;
    color: red;
    font-family: Arial, Helvetica, sans-serif; }
